body {
    padding-top: 50px;
    padding-bottom: 20px;
}
body{
    font-family: sans-serif;
}
table th{
    padding: 5px
}
.navbar {
     background-image: linear-gradient(to bottom,#23007c 0,#000C0C 100%);
}
